body {
	margin: 0;
	padding: 0;
	padding: 20px;
}

ul {
	margin: 0px;
	margin-bottom: 20px;
	max-width: 800px;
	line-height: 32px;
	font-size: 16px;
	background-color: #fdffe2;
	padding: 20px;
	padding-left: 40px;
}

ul span {
	font-size: 14px;
	color: #272727;
}

.title {
	margin: 0;
	margin-bottom: 20px;
}

.definition {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	margin-bottom: 20px;
}

.definition span {
	font-weight: 400;
}